:root {
    --midnight-green: #014E56;
    --light-coral: #F67E7E;
    --white: #fff;
    --rapture-blue: #79C8C7;
    --police-blue: #2C6269;
    --jungle-green: #004047;
    --sacramento-green: #012F34;
    --dark-green: #002529;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Livvic', sans-serif;
    background: var(--midnight-green);
}

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 73px;
}

.header-left {
    display: flex;
}

.logo-link {
    margin-right: 80px;
}

.header-list {
    display: flex;

}

.header-list-item {
    margin-right: 40px;
    padding-top: 8px;
    list-style: none;
}

.header-list-item-link {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.contact-link {
    width: 153px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid #FFF;
    text-decoration: none;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-link:hover {
    background-color: var();
}

/* hero */

.hero {
    background: url(./img/myteam-left.png), url(./img/my-team-right.png);
    background-repeat: no-repeat;
    background-position: left top 140px, bottom right 200px;
}


.hero-container {
    padding-top: 146px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-bottom: 233px;
}

.hero-title {
    width: 635px;
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
}

.main-hr {
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    background: var(--rapture-blue);
}

.hero-text {
    width: 445px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.title-coral {
    color: #F67E7E;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    padding-bottom: 79px;
}

.hr-rapture {
    margin-bottom: 79px;
}

/* medium */

.medium-copy {
    width: 100%;
    height: 684px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--sacramento-green);
}

.medium-container {
    padding-top: 140px;
    display: flex;
    padding-left: 50px;
}

.medium-hr {
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    background: var(--light-coral);
    border: none;
}

.medium-text {
    width: 445px;
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 50px;
}

.flex-container {
    padding-left: 60px;
}

.medium-box {
    display: flex;
    padding-right: 20px;
}

.medium-h3 {
    width: 445px;
    color: #F67E7E;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    line-height: 40px;
}

.medium-img {
    margin-right: 23px;
    width: 72px;
    height: 72px;
    flex-shrink: 0;
}

.medium-div {
    margin: 23px;
    padding-top: 5px;
}

.medium-p {
    width: 445px;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    line-height: 30px;
}

.medium-flex {
    padding-bottom: 23px;
}

/* GRID */
.grid {
    background: var(--jungle-green);
    height: 745px;
}

.grid-container {
    padding-top: 140px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: auto;
}

.grid-title {
    width: 932px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 40px;
    padding-bottom: 92px;
}

.grid-span {
    color: #79C8C7;
    font-family: Livvic;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}

.grid-p {
    width: 350px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    padding-bottom: 24px;
}

.grid-h3 {
    width: 350px;
    color: #79C8C7;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.grid-p2 {
    width: 350px;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px;
}

.grid-img {
    padding-top: 32px;
    padding-left: 144px;
}

.grid-context {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 20px;
}

/* content */
.content {
    height: 200px;
    background: var(--light-coral);
}

.content-h1 {
    color: #012F34;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 76px;
    padding-left: 200px;
}

.content-link1 {
    padding-top: 95px;
    padding-right: 150px;
}

.content-link {
    width: 153px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid var(--dark-green);
    padding: 9px 33px 11px 32px;
    text-decoration: none;
    color: var(--dark-green);
}

.container-content {
    display: flex;
    justify-content: space-between;
}

.content-link:hover {
    background-color: var(--jungle-green);
}

/* footer */
.footer {
    padding-top: 48px;
    padding-bottom: 48px;
    background: var(--dark-green);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
}

address {
    color: #FFF;
    font-family: Livvic;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.6;
}

.footer-logo {
    margin-right: 125px;
    margin-bottom: 25px;
}

.footer-list {
    display: flex;
    align-items: center;
    list-style: none;

}


.footer-list-item:not(:last-child) {
    margin-right: 40px;

}

.footer-link-item-link {
    text-decoration: none;
    color: #FFF;
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: end;
}

.social {
    margin-bottom: 51px;
    margin-right: 10px;
    list-style: none;
}

.copytight {
    color: #FFF;
    font-family: Livvic;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.6;
}

.social-img:hover {
    background-color: var(--light-coral);
}

/* CSS  -2 */
.hr2 {
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    background: var(--light-coral);

}

.hero-text2 {
    width: 730px;
    padding-top: 40px;
}

.hero-context {
    padding-left: 120px;
}

/* /* medium */
.medium {
    background: var(--jungle-green);
    height: 1002px;
}

.contact-link-2 {
    padding-top: 10px;
}

.medium-h3-copy {
    width: 920px;
    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 154px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.grid-medium {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 76px;
}

.box {
    width: 350px;
    height: 253px;
    flex-shrink: 0;
    background: var(--sacramento-green);
}

.box-container {
    padding-top: 32px;
    padding-left: 127px;
}

.medium-text-copy {
    width: 302px;
    color: #79C8C7;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    padding-top: 19px;
}

.medium-p-copy {
    width: 302px;
    color: #FFF;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: 25px;
    padding-bottom: 15px;
}

.medium-img-copy {
    padding-left: 18px;

}

.box-container2 {
    padding-left: 48px;
    padding-top: 35px;

}

.box-6-h4 {
    width: 302px;
    color: #79C8C7;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    padding-left: 80px;
    padding-bottom: 8px;
}

.box-p-copy {
    width: 254px;
    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    padding-bottom: 24px;
}

.box-img-6 {
    padding-left: 93px;
}

.img-plus {
    padding-top: 30px;
    padding-left: 140px;

}

/* BUILD */
.build {
    background: var(--sacramento-green);
    height: 437px;
    flex-shrink: 0;
}

.build-h3 {
    width: 920px;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 140px;
    margin: 0 auto;
}

.build-img {
    padding-left: 80px;
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CSS - 3 */
main {
    background: var(--midnight-green);
    height: 789px;
    flex-shrink: 0;
}

.main-h2-copy {
    padding-top: 110px;
    width: 350px;
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    line-height: 100px;
}

.main-h3-copy {
    padding-top: 16px;
    width: 540px;
    color: #F67E7E;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    padding-bottom: 34px;
}

.medium-h3-copy {
    width: 445px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.main-list-copy {
    display: flex;
    align-items: center;

}

.main-list-copy:not(:last-child) {
    margin-bottom: 8px;
}

.main-p-copy {
    width: 445px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    padding-left: 23px;
}

.contact-wrapper {
    display: flex;

}

.contact-right input,
textarea {
    width: 100%;
    padding-top: 220px;
    background: transparent;

    border: none;
    padding: 0 81px 17px 14px;
    border-bottom: 1px solid var(--white);
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.115px;
    color: var(--white);
    padding-top: 20px;
}

.right-input {
    width: 100%;
    opacity: 0.6;
}

.contact-right {
    padding-top: 105px;
    padding-left: 20px;
}

.submit-btn {
    width: 123px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid #FFF;
    background: var(--white);
}

.right-button {
    padding-top: 24px;
}

/* responsive */

@media (max-width:700px) {
    .header-nav {
        display: none;
    }

    .contact-link {
        display: none;
    }

    .header-container {
        background: url(./img/menu.png);
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: right 60px top 73px;

    }
}

@media (max-width:1140px) {
    .hero-title {
        text-align: center;
        font-size: 64px;
        font-weight: 700;
        line-height: 56px;
    }

    .title-coral {
        color: #F67E7E;
        font-size: 64px;
        font-weight: 700;
        line-height: 56px;
    }

    .hero-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .hero-text {
        width: 460px;
        margin-top: 24px;
        text-align: center;
        margin-right: 100px;
        color: #FFF;
        font-size: 15px;
        font-weight: 600;
        line-height: 28px;
    }

    .main-hr {
        display: none;
    }

    .header-container {
        padding-left: 60px;
        padding-right: 60px;
    }

}

@media (max-width:1250px) {
    .hero {
        background: url(./img/my-team-right.png);
        background-repeat: no-repeat;
        background-position: bottom center;
    }


    .hero-container {
        display: flex;
        align-items: center;

    }

}

@media (max-width:340px) {
    .logo {
        width: 128px;
        padding-top: 5px;
    }

    .hero-title {
        color: #FFF;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        margin-left: 20px;
        margin-top: -100px;
    }

    .title-coral {
        color: #F67E7E;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
    }

    .hero-text {
        color: #FFF;
        font-size: 8px;
        line-height: 18px;
        width: 250px;
    }

    .header-container{

       
    }

    .hero-container{
        padding-right: 70px;

    }


}